<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Custom Rules" Description="Just my rules" ToolsVersion="16.0">
    <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
        <Rule Id="CA1822" Action="None"/>
        <Rule Id="CA2007" Action="None"/>
    </Rules>
</RuleSet>
